[submodule "site/themes/blowfish"]
	path = site/themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "site/themes/congo"]
	path = site/themes/congo
	url = https://github.com/jpanther/congo.git
[submodule "site/themes/blog-awesome"]
	path = site/themes/blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
